<form class="w-full" [formGroup]="registerForm">
  <div class="flex flex-col gap-3">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input id="name-input" matInput formControlName="name" />
      @if (registerForm.get("name")?.errors) {
      <mat-error>Name must be at least 5 characters long</mat-error>
      }
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Price</mat-label>
      <input
        matInput
        type="number"
        class="example-right-align"
        placeholder="0"
        formControlName="price"
      />
      @if (registerForm.get("price")?.errors) {
      <mat-error>Price must be greater that 0</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        @for (category of categories; track $index) {
        <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
      <mat-hint align="end">Select a category</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea
        id="description-input"
        matInput
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field disabled>
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        @for (currency of acceptedCurrencies; track $index) {
        <mat-option [value]="currency">{{ currency }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-flat-button type="submit">Create product</button>
  </div>
</form>
